*/.DS_Store
*/*.user
*/*.exe*
**/bin/*
*/obj/*
*.pdb
*.suo
*/bin/*
*/obj/*
*.class
*/bin/*
**/bin/**.exe*
**/obj/**/*
*.exe
*.config
*.dll
*.apk
*.suo
*.msi
*.xap
*.suo
*/.gradle
*/.idea
.DS_Store
*/.DS_Store
