<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="info.kabbalah.lessons.downloader" android:versionCode="21"
	android:versionName="1.7.13" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE"/>

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:name="info.kabbalah.lessons.downloader.DownloaderApp" android:allowBackup="true">
		<activity android:name=".Downloader" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:label="@string/app_name" android:name=".DownloaderPreferences" android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.PREFERENCE"></category>
			</intent-filter>
		</activity>
		<service android:name=".MediaDownloaderService" android:label="@string/app_name" android:exported="false">
			<intent-filter>
				<action android:name="info.kabbalah.lessons.downloader.CheckFiles" />
				<action android:name="info.kabbalah.lessons.downloader.Network.WiFi.On" />
				<action android:name="info.kabbalah.lessons.downloader.Network.WiFi.Off" />
				<category android:name="android.intent.category.HOME" />
			</intent-filter>
		</service>
		<receiver android:name=".BootSetScheduleReceiver" android:exported="true" android:enabled="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		<receiver android:name=".ConnectivityChangeReceiver" android:enabled="true" android:exported="true">
			<intent-filter>
			    <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            	<action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
		</receiver>
	</application>
</manifest>